@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow rounded-4 border-0">
                <div class="card-body p-4 bg-light">
                    <h2 class="text-center mb-4">Iniciar Sesión</h2>

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger text-center">@ViewBag.Error</div>
                    }
                    @if (TempData["Exito"] != null)
                    {
                        <div class="alert alert-success text-center">
                            @TempData["Exito"]
                        </div>
                    }

                    <form asp-action="Login" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input name="email" id="email" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="contraseña" class="form-label">Contraseña</label>
                            <input name="contraseña" id="contraseña" type="password" class="form-control" required />
                        </div>

                        <button type="submit" class="btn btn-dark w-100">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

